@model MVCProject.ViewModel.AccountViewModel

@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center">Login</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoginType" class="control-label"></label>
                <select asp-for="LoginType" class="form-control">
                    <option value="Employee">Employee</option>
                    <option value="Trader">Trader</option>
                    <option value="Representative">Representative</option>
                </select>
                <span asp-validation-for="LoginType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary d-block mx-auto" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
