@model MVCProject.Models.Trader

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Trader</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <select asp-for="BranchId" asp-items="ViewBag.BranchList" class="form-control">
                    <option value="">--Select Branch--</option>
                </select>
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreName" class="control-label"></label>
                <input asp-for="StoreName" class="form-control" />
                <span asp-validation-for="StoreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoverId" class="control-label"></label>
                <select asp-for="GoverId" asp-items="ViewBag.GovernList" class="form-control" onchange="getCitesInGovernrate()">
                    <option value="">--Select Governorate--</option>
                </select>
                <span asp-validation-for="GoverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" asp-items="ViewBag.CityList" class="form-control">
                    <option value="">--Select City--</option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialPickupCost" class="control-label"></label>
                <input asp-for="SpecialPickupCost" class="form-control" />
                <span asp-validation-for="SpecialPickupCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraderTaxForRejectedOrders" class="control-label"></label>
                <input asp-for="TraderTaxForRejectedOrders" class="form-control" />
                <span asp-validation-for="TraderTaxForRejectedOrders" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="creationDate" class="control-label"></label>
                <input asp-for="creationDate" class="form-control" />
                <span asp-validation-for="creationDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> IS Deleted
                </label>
            </div>
            <div class="form-group">
                <label for="disabledTextInput" asp-for="Role" class="control-label"></label>
                <select id="disabledTextInput" asp-for="Role" class="form-control">
                    <option value="Trader">Trader</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="isAvailable" /> Available
                        <input type="hidden" asp-for="IsDeleted" id="isDeleted" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

    <script src="/lib/jquery/dist/jquery.js"></script>

    <script>
        function getCitesInGovernrate() {
            var governrateId = document.getElementById("GoverId").value;
            console.log(governrateId);

            $.ajax({
                url: `/Trader/getCitesByGovernrate?govId=${governrateId}`,
                success: function (result) {
                    document.getElementById("CityId").innerHTML = "";

                    for (let i of result) {
                        document.getElementById("CityId").innerHTML +=
                            `<option value=${i.id}>${i.name}</option>`
                    }
                }
            });
        }

        $(function () {
            // Set initial state of checkbox
            var isDeleted = $('#isDeleted').val().toLowerCase() === 'true';
            $('#isAvailable').prop('checked', !isDeleted);

            // On form submit, invert the checkbox value
            $('form').on('submit', function () {
                var isChecked = $('#isAvailable').is(':checked');
                $('#isDeleted').val(!isChecked);
            });
        });
    </script>
}