@model IEnumerable<MVCProject.Models.Trader>

@{
    ViewData["Title"] = "Index";
}

<h1>Traders</h1>

<p>
    <a class="btn btn-outline-primary my-2" asp-action="Create">Create New</a>
</p>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Store Name</th>
                        <th>Special Pickup Cost</th>
                        <th>Trader Tax For Rejected Orders</th>
                        <th>Governorate Id</th>
                        <th>City</th>
                        <th>Branch</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Trader Name</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Creation Date</th>
                        <th>Is Deleted</th>
                        <th>Role</th>
                        <th>Details</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.StoreName</td>
                            <td>@item.SpecialPickupCost</td>
                            <td>@item.TraderTaxForRejectedOrders</td>
                            <td>@item.GoverId</td>
                            <td>@item?.City?.Id</td>
                            <td>@item?.Branch?.Id</td>
                            <td>@item?.Email</td>
                            <td>@item?.Password</td>
                            <td>@item?.Name</td>
                            <td>@item?.Phone</td>
                            <td>@item?.Address</td>
                            <td>@item?.creationDate</td>
                            <td>@item?.IsDeleted</td>
                            <td>@item?.Role</td>
                            <td><a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item?.Id">Details</a></td>
                            <td><a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item?.Id">Edit</a></td>
                            <td><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item?.Id">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





