@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5 fw-bolder alert alert-heading alert-info text-capitalize text-warning">
        Easly Ship Your Package     <i class="fa-solid fa-box-open"></i>
    </h1>
    <img src="~/img/frank-mckenna-tjX_sniNzgQ-unsplash.jpg" class="img-fluid"  />
</div>
