@model List<Trader>

@{
    ViewData["Title"] = "Details";
}
<h1>@ViewBag.BranchName</h1>

<table class="table table-bordered table-hover">
    <tr>
        <th>Trader Name</th>
        <th>Store Name</th>
        <th>Special Pickup Cost</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name </td>
            <td>@item.StoreName</td>
            <td>@item.SpecialPickupCost</td>
        </tr>
    }
</table>
<a asp-action="Index" class="btn btn-primary"> Back </a>